/* 
    Document   : admin
    Created on : 17-may-2012, 13:42:46
    Author     : kamilo
    Description:
        Estilo del modulo administrativo.
*/

root { 
    display: block;
}

.width-total{
    width: 100%;
}